.popup__error {
  margin: 4px auto 0;
  display: block;
  font-size: 12px;
  line-height: 14.5px;
  max-width: 358px;
  color: #F00;
  overflow: hidden;
  min-height: 14px;
  visibility: hidden;
}

@media screen and (max-width: 690px) {
  .popup__error {
    max-width: 238px;
  }
}