.lead__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  background-color: #000;
  background-image: url(../../../images/pius.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  opacity: 1;
  transition: opacity .5s;
}

.lead__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .lead__add-button {
    width: 282px;
    height: 50px;
    background-size: 16px;
  }
}
