.capture {
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}