.footer {
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 880px;
  margin: 66px auto 0;
}

@media screen and (max-width: 918px) {
  .footer {
    box-sizing: border-box;
    padding: 0 19px 0;
  }
}

@media screen and (max-width: 918px) {
  .footer {
    margin-top: 48px;
  }
}
